* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {
    --main-color: #ff6d55;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.034);
}

.container {
    margin: 0 auto;
    width: 90vw;

}


/* Start Header */

header {
    width: 100vw;
    background-color: var(--main-color);
    box-shadow: 0px 0px 17px 2px #50505054;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

header h2 {
    color: white;
    font-weight: bolder;
}

header i {
    color: white;
    font-size: 35px;
}

header .logout {
    color: white;
    font-weight: bold;
    background-color: transparent;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    border: none;

}

/* End Header */

/* Start Main */

main {
    margin-top: 15px;
}

main .container {
    background-color: white;
    height: max-content;
    border-radius: 10px;
    box-shadow: 0px 0px 17px 2px #50505054;
    padding: 25px 35px;
}

/* Start Table */

table {
    width: 100%;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0 15px;
    height: 100%;
}

table th {
    padding: 20px;
    font-weight: 00;
    background-color: var(--main-color);
    color: white;
    text-transform: uppercase;

}

tr:first-child th:first-child {
    border-radius: 20px 0 0 20px;

}

tr:first-child th:last-child {
    border-radius: 0 20px 20px 0;

}

table td {
    padding: 10px;
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 17px;

}

table a {
    display: block;
    padding: 13px 17px;
    background-color: var(--main-color);
    border: 0;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 900;
    font-size: 15px;

}

table a:hover {
    color: var(--main-color);
    background-color: rgb(245, 243, 243);
    box-shadow: none;
}

table a i {
    margin-right: 5px;
    font-size: 17px;

}

table a.conf-btn i {
    color: rgb(12 255 12 / 64%);
}

table a.del-btn i {
    color: #e71313ab;
}

/* End Table */


main .container h2 {
    text-align: center;
    color: var(--main-color);
    display: none;
}

main .container h2.active {
    display: block;

}


/* End Main */
